<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99425592311-jce9kvf5djtjepr3pg8dmj40l2hdt30o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99425592311-jce9kvf5djtjepr3pg8dmj40l2hdt30o</string>
	<key>API_KEY</key>
	<string>AIzaSyDFxxzuJ86yiGCAMs3yonfhP2Yc9s9mHX8</string>
	<key>GCM_SENDER_ID</key>
	<string>99425592311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voting.ssu.CS470Voting</string>
	<key>PROJECT_ID</key>
	<string>cs470chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cs470chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:99425592311:ios:f6e841b26a23b1c2</string>
	<key>DATABASE_URL</key>
	<string>https://cs470chatapp.firebaseio.com</string>
</dict>
</plist>